/* set background color */
body {
    background-color: #ffe6cc;
  }
  
  /* center container */
  #container {
    margin-top: 50px;
    align-items: center;
    margin-left: 190px;
  }
  
  /* style form inputs */
  .form-group label {
    font-weight: bold;
    color: #ff6600;
  }
  
  .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #ff9933;
  }
  
  .form-control:focus {
    border-color: #ff6600;
    box-shadow: none;
  }
  
  /* style submit button */
  .btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
    border-radius: 0;
    width: 100%;
    margin-top: 20px;
  }
  
  .btn-primary:hover {
    background-color: #ff8533;
    border-color: #ff8533;
  }
  
  /* add some spacing between elements */
  .form-group:not(:last-child) {
    margin-bottom: 30px;
  }
  
  /* style the form header */
  h1 {
    font-weight: bold;
    color: #ff6600;
    text-shadow: 1px 1px #ffe6cc;
    margin-bottom: 50px;
  }
  
  /* style the form border */
  .form-border {
    border: 2px solid #ff6600;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ff8533;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
   h3 {
    color:red;
  }
  
  